.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Set a high z-index value */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001; /* Set a high z-index value */
}

.close-button {
  position: relative;
  float: right;
  background-color: rgba(93, 92, 92, 0.3);
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
  z-index: 1002; /* Set a high z-index value */
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-button{
  border: 2px solid #04aa6d;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #04aa6d;
  /* Green */
  color: white;
}
